# 把美股羅素3000成分股清單匯入DB

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import configparser

In [ ]:
config = configparser.ConfigParser()
config.read('../../DB_Processor/config.ini')

In [ ]:
username = config['database']['user']
password = config['database']['password']
database = config['database']['db']
host = config['database']['host']
port = config['database']['port']

engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

---

In [4]:
us_company = pd.read_csv("C:/Users/user/Documents/iplab/stock_factor_lab/2024_code/us_data/US_company_russell3000.csv")

In [5]:
us_company

,company_symbol,name,exchange_name,country
0,A,"Agilent Technologies, Inc.",NYSE,US
1,AA,Alcoa Corporation,NYSE,US
2,AAL,American Airlines Group Inc.,NASDAQ,US
3,AAN,"The Aaron's Company, Inc.",NYSE,US
4,AAON,"AAON, Inc.",NASDAQ,US
...,...,...,...,...
2650,ZWS,Zurn Elkay Water Solutions Corporation,NYSE,US
2651,ZYME,Zymeworks Inc.,NYSE,CA
2652,ZYXI,"Zynex, Inc.",NASDAQ,US
2653,CWEN-A,"Clearway Energy, Inc.",NYSE,US
2654,UHAL-B,U-Haul Holding Company,NYSE,US

In [12]:
# # 填補空值
# us_company[us_company['country'].isnull()]['company_symbol']
# us_company.loc[us_company['country'].isnull(), 'country'] = 'US'

In [6]:
us_company[us_company['country'].isnull()]['company_symbol']

Series([], Name: company_symbol, dtype: object)

In [7]:
# 將資料匯入到資料庫
try:
    us_company.to_sql('company', con=engine, if_exists='append', index=False)
    print("資料匯入成功")
except Exception as e:
    print(f"資料匯入失敗: {e}")

資料匯入成功