# 美股 API 測試

In [5]:
import pandas as pd
import requests
import json
import configparser
from sqlalchemy import create_engine

In [2]:
russel1_3000_comp_list = pd.read_csv('../data/US_data/russell_components_lists/russell_3000_company_barchart_240927.csv').iloc[:-1, :]

russel1_3000_comp_list

,Symbol,Name,Exchange,Industry,SIC Description
0,A,Agilent Technologies,NYSE,Electronic Test Equipment,SIC-3826 Laboratory Analytical Instruments
1,AA,Alcoa Corp,NYSE,Metal Products - Distribution,SIC-3334 Primary Production of Aluminium
2,AAL,American Airlines Gp,NASDAQ,Transportation - Airline,"SIC-4512 Air Transportation, Scheduled"
3,AAN,Aarons Holdings Company,NYSE,Consumer Services - Misc,"SIC-7359 Services-Equipment Rental & Leasing, NEC"
4,AAON,Aaon Inc,NASDAQ,Building Prdcts - Air Heating,SIC-3585 Air-Cond & Warm Air Heatg Equip & Com...
...,...,...,...,...,...
2644,ZUMZ,Zumiez Inc,NASDAQ,Retail - Apparel & Shoes,SIC-5600 Retail-Apparel & Accessory Stores
2645,ZUO,Zuora Inc,NYSE,Internet - Software,SIC-7372 Services-Prepackaged Software
2646,ZWS,Zurn Elkay Water Solutions Corp,NYSE,Machinery - Electrical,SIC-3560 General Industrial Machinery & Equipment
2647,ZYME,Zymeworks Inc,NASDAQ,Medical - Biomedical,SIC-2834 Pharmaceutical Preparations
2648,ZYXI,Zynex Inc,NASDAQ,Medical Products,SIC-3845 Electromedical & Electrotherapeutic A...

In [3]:
companies = russel1_3000_comp_list['Symbol'].tolist()
len(companies)

2649

In [8]:
# 讀取 config.ini 檔案
config = configparser.ConfigParser()
config.read('../../DB_Processor/config.ini')

['../../DB_Processor/config.ini']

In [9]:
comp_test = 'AAPL'
BASE_URL = 'https://financialmodelingprep.com/api/v3/profile/'
API_KEY = config['api']['financialmodelingprep_api_key']

In [16]:
url = f'{BASE_URL}{comp_test}?apikey={API_KEY}'

response = requests.get(url)
profile_json = response.json()

In [27]:
profile_json[0]
# get ['symbol', 'companyName', 'exchangeShortName', 'country','ipoDate', 'sector'] from profile_json and safe to a dataframe

profile_df = pd.DataFrame(profile_json)
profile_df = profile_df[['symbol', 'companyName', 'exchangeShortName', 'country','ipoDate', 'sector']]

In [28]:
profile_df

  symbol companyName exchangeShortName country     ipoDate      sector
0   AAPL  Apple Inc.            NASDAQ      US  1980-12-12  Technology

In [38]:
comp_head_tests = companies[:2]  
profile_df = pd.DataFrame()

for comp in comp_head_tests:
    url = f'{BASE_URL}{comp}?apikey={API_KEY}'
    response = requests.get(url)
    profile_json = response.json()

    profile_data = pd.DataFrame([profile_json[0]])[['symbol', 'companyName',  'exchangeShortName', 'country', 'ipoDate', 'sector']]

    profile_df = pd.concat([profile_df, profile_data], ignore_index=True)

profile_df

,symbol,companyName,exchangeShortName,country,ipoDate,sector
0,A,"Agilent Technologies, Inc.",NYSE,US,1999-11-18,Healthcare
1,AA,Alcoa Corporation,NYSE,US,2016-11-01,Basic Materials

In [ ]:
profile_df = pd.DataFrame()

for comp in companies:
    url = f'{BASE_URL}{comp}?apikey={API_KEY}'
    
    response = requests.get(url)
    profile_json = response.json()

    profile_data = pd.DataFrame([profile_json[0]])[['symbol', 'companyName',  'exchangeShortName', 'country', 'ipoDate', 'sector']]

    profile_df = pd.concat([profile_df, profile_data], ignore_index=True)

---

In [ ]:
# # 資料庫連接設定

# # 從 config.ini 中獲取資料庫連接設定
# username = config['database']['user']
# password = config['database']['password']
# database = config['database']['db']
# host = config['database']['host']
# port = config['database']['port']

# engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')
# # data = pd.read_csv(csv_path)